<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="face-header" fxLayout="row" fxLayoutAlign="center center">
    <a href="https://www.facebook.com/itstudenter" target="_blank">
      <div fxLayout="row" fxLayoutAlign="center center" class="facebook-btn">
        <div><h1>Følg oss på facebook</h1></div>
        <div><img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/01-512.png" alt=""></div>
      </div>
    </a>
  </div>

  <div class="face-ad-container" fxLayoutAlign="start start" fxLayout="column">
    <div class="face-ad-1" fxLayout="row">
      <div><img src="https://static1.squarespace.com/static/551c31f2e4b002dbe1ff7cae/58d3efb78419c2d3806deef5/58d3efb7e6f2e19c40b23b53/1490284472548/BirthdayParty09.jpg?format=1000w" alt="party"></div>
      <div fxLayout="column" fxLayoutAlign="start center" class="description-container">
        <div><h2>..og få med deg hva som skjer</h2></div>
        <div class="description">
          Bla vlasmvadkldsklfksdnf sdlkgdsvsdn slkgnsgnsd lkdn dsdgnds gsdjkg fsdjk  jb
        </div>
      </div>
    </div>

    <div class="face-ad-2" fxLayout="row" fxLayoutAlign="end start">
      <div class="description-container" fxLayout="column">
        <div><h2>..hvem som holder neste foredrag</h2></div>
        <div class="description">
          Bla vlasmvadkldsklfksdnf sdlkgdsvsdn slkgnsgnsd lkdn dsdgnds gsdjkg fsdjk  jb
        </div>
      </div>
      <div><img src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAgDAAAAJGNkNTZhZmU0LTczZTctNGUwMC05MzJjLWVlZTI4ZWMwMDQ1Yw.jpg" alt=""></div>
    </div>

    <div class="face-ad-3" fxLayout="row">
      <div><img src="http://www.tmc.ac.uk/sites/default/files/2_24.jpg" alt="programming"></div>
      <div fxLayout="column" fxLayoutAlign="start center" class="description-container">
        <div><h2>..og mye mye mer</h2></div>
        <div class="description">
          Bla vlasmvadkldsklfksdnf sdlkgdsvsdn slkgnsgnsd lkdn dsdgnds gsdjkg fsdjk  jb
        </div>
      </div>
    </div>

  </div>

</div>
