<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="face-header" fxLayout="row" fxLayoutAlign="center center">
    <a href="https://www.facebook.com/itstudenter" target="_blank">
      <div fxLayout="row" fxLayoutAlign="center center" class="facebook-btn">
        <div><h1>Følg oss på facebook</h1></div>
        <div><img src="../assets/f_logo.svg" alt=""></div>
      </div>
    </a>
  </div>

  <div class="face-ad-container" fxLayoutAlign="start start" fxLayout="column">
    <div class="face-row-left" fxLayout="row">
      <div><img src="../assets/lars.png" alt="party"></div>
      <div fxLayout="column" fxLayoutAlign="start center" class="description-container">
        <div><h2>..og få med deg hva som skjer</h2></div>
        <div class="description">
          Vi holder events, blant annet hackatons, gjesteforelesninger og konkuranser.
        </div>
      </div>
    </div>

    <div class="face-row-right" fxLayout="row" fxLayoutAlign="end start">
      <div class="description-container" fxLayout="column" fxLayoutAlign="end start">
        <div><h2>..vær med på å besteme</h2></div>
        <div class="description">
          Vi elsker at folk er med på komme med forlag om hvem de har lyst på som forelesere,
			hva slags events som skal anageres eller bare generele forslag.
        </div>
      </div>
      <div><img src="../assets/pc.png" alt=""></div>
    </div>

    <div class="face-row-left" fxLayout="row" fxLayoutAlign="start start">
      <div><img src="../assets/bibl.png" alt="programming"></div>
      <div fxLayout="column" fxLayoutAlign="start center" class="description-container">
        <div><h2>..og mye mye mer</h2></div>
        <div class="description">
          Vi holder deg også oppdatert på andre ting relevant innen it verden, du kan også post 			ting som kan være relevant.
        </div>
      </div>
    </div>

  </div>

</div>
