.header {

  height: 80px;
  border-bottom: 2px solid black;
}

.logo-img {
  height: 60px;
}

.logo {
  margin: 0 20px;
  font-size: 25px;
  height: 60px;

  outline: none !important;
}

.logo:hover {
  cursor: pointer;
  color: #dddddd
}

.link {
  margin: 0 10px;
  font-size: 15px;
  outline: none;
}

.link:hover {
  cursor:pointer;
  color: #dddddd
}


.active {
  border-bottom: 2px solid black;
}

.links-container {
  width: 100%;
  margin-right: 20px;
}
