<div class="header" fxLayoutAlign="start center">
  <div class="logo" routerLink="main">
    <img src="../../assets/bits_logo.svg" class="logo-img">
  </div>
  <div class="link" routerLink="main" routerLinkActive="active">HJEM</div>
  <div class="link" routerLink="bli-medlem"  routerLinkActive="active">BLI MEDLEM</div>
  <div class="link" routerLink="kontakt"  routerLinkActive="active">KONTAKT</div>
  <div class="link" routerLink="events"  routerLinkActive="active">OM OSS</div>
  <div class="link" routerLink="events"  routerLinkActive="active">EVENTS</div>
</div>
