<div class="footer-container" fxLayout="column" fxLayoutAlign="space-around">

  <div fxLayoutAlign="center center" fxLayout="column">

    <div class="logo"><img src="../../assets/bits_logo_trans.svg" alt=""></div>

    <div class="links" fxLayoutAlign="space-around" fxLayout="row">
      <!--<div class="link" routerLink="/bli-medlem">BLI MEDLEM</div>-->
      <div class="link" routerLink="/kontakt">KONTAKT</div>
      <div class="link" routerLink="/events">EVENTS</div>
      <div class="link"><a href="https://www.facebook.com/itstudenter" target="_blank">FACEBOOK</a></div>
    </div>

    <div class="powered-by-header">POWERED BY:</div>

    <div class="logo_insigno"><img src="../../assets/insigno_logo.svg" alt=""></div>

    <div class="copyright">© 2017 Insigno AS. All rights reserved.</div>

  </div>

</div>
