<div class="footer-container" fxLayout="row" fxLayoutAlign="space-around">


  <div fxLayoutAlign="center center" fxLayout="column">
    <div class="links" fxLayoutAlign="center start" fxLayout="column">
      <div><h4>Linker</h4></div>
      <div class="link" routerLink="/">Hjem</div>
      <div class="link" routerLink="/bli-medlem">Bli Medlem</div>
      <div class="link" routerLink="/kontakt">Kontakt</div>
      <div class="link" routerLink="/om-oss">Om oss</div>
      <div class="link" routerLink="/events">Events</div>
    </div>
  </div>

  <div class="powered-by" fxLayoutAlign="center center" fxLayout="column">
    <div class="powered-by-header"><span style="font-style: italic">Powered by:</span></div>
    <div><img src="../../assets/insigno.PNG" style="width: 200px"></div>
  </div>


  <div>

  </div>

</div>
