<div class="card" style.lt-sm="padding: 10px">
  <div id="about-content">
  <h2>Bits: Bakkenteigen IT Studenter</h2>
  <a> Er linjeforenigen for
      <ul>
        <li>Datateknikk</li>
        <li>IT og informasjonssystemer</li>
      </ul>
      ved HSN campus Vestfold.
       <p>Vi jobber for å fremme det sosiale of faglige miljøet ved skolen.</p>
       <p>Vi ble stiftet 15.02.2017.</p>

  </a>
</div>
<div class="map-container">
    <agm-map [latitude]="59.368792" [longitude]="10.442151" [zoom]="17">
      <agm-marker [latitude]="59.368792" [longitude]="10.442151"></agm-marker>
    </agm-map>
</div>


