<div class="card" style.lt-sm="padding: 10px">
  <div class="contact-container">
    <div fxLayoutAlign="space-around" fxLayoutWrap>
      <div>
        <h1>INTERVINDU</h1>
        <div class="list-item"><md-icon>home</md-icon><a>Ringveien 1, 3084 Holmestrand</a></div>
        <div class="list-item"><md-icon>phone</md-icon><a>Telefon: 33 36 10 40</a></div>
        <div class="list-item"><md-icon>email</md-icon><a>Epost: post@intervindu.no</a></div>
      </div>
      <div class="contact-item" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="https://pbs.twimg.com/profile_images/823560365141327872/hrUZF-vD_400x400.jpg" alt="Trump the hump" class="contact-img">
        </div>
        <span class="name"><b>Donald Trump</b></span><br>
        <span class="desc">CEO of United States Of America</span><br>
        <span>Mail: president@usa.com</span><br>
        <span style="margin-top: -10px">Phone: 666 - MEXICO</span>
      </div>
    </div>
  </div>

  <agm-map [latitude]="59.480140" [longitude]="10.317929" [zoom]="17">
    <agm-marker [latitude]="59.480140" [longitude]="10.317929"></agm-marker>
  </agm-map>
</div>


