.card {
  padding: 50px 0 0 0;
  background-color: white;
  height: calc(100vh - 80px);
}


.contact-container {
  padding: 10px;
}

.contact-item {
  padding: 10px;
}

.contact-img {
  width: 100px;
  -webkit-border-radius: 600px;
  border-radius: 600px
}


.desc {
  font-size: 14px !important;
  font-style: italic;
  margin-top: -10px;
  color: #818181;
}

.name {
  font-size: 16px;
  margin-top: 5px;
}

.map-container {
  height: 80%;
}

agm-map {
  height: 100%;
}

