<div class="container" fxLayoutAlign="center center">

  <div class="leaders" fxLayout="column" fxLayoutAlign="center end">
    <div fxLayoutAlign="center center" fxLayout="column">
      <div><img src="../assets/Facebook.jpg" alt="Johan.jpg" class="contact-img"></div>
      <div class="name"><h4>Johan Günther Krogevoll</h4></div>
      <div class="title">Styrets leder</div>
      <div class="contact-info" fxLayoutAlign="center start" fxLayout="column">
        <div class="mail">Mail: leder@bkits.no</div>
        <div class="phone">Telefon: 123 45 678</div>
      </div>
    </div>
  </div>

  <div class="members" fxLayoutAlign="center center" fxLayout="column">
    <div><h3>Styrets øvrige medlemmer:</h3></div>
    <div *ngFor="let member of members" class="member">
      {{member.name}}, født {{member.dateOfBirth}}
    </div>
  </div>

  <div class="leaders" fxLayout="column" fxLayoutAlign="center start">
    <div fxLayoutAlign="center center" fxLayout="column">
      <div><img src="../assets/Facebook.jpg" alt="Espen.jpg" class="contact-img"></div>
      <div class="name"><h4>Espen Lien Pedersen</h4></div>
      <div class="title">Assistant to the leder</div>
      <div class="contact-info" fxLayoutAlign="center start" fxLayout="column">
        <div class="mail">Mail: assist@bkits.no</div>
        <div class="phone">Telefon: 123 45 678</div>
      </div>
    </div>
  </div>
</div>


