<div class="card" style.lt-sm="padding: 10px">
  <div class="contact-container">
    <div fxLayoutAlign="space-around" fxLayoutWrap>
      <div class="contact-item" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="https://pbs.twimg.com/profile_images/823560365141327872/hrUZF-vD_400x400.jpg" alt="Trump the hump" class="contact-img">
        </div>
        <span class="name"><b>Donald Trump</b></span><br>
        <span class="desc">CEO of United States Of America</span><br>
        <span>Mail: president@usa.com</span><br>
        <span style="margin-top: -10px">Phone: 666 - MEXICO</span>
      </div>
      <div class="contact-item" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img src="https://pbs.twimg.com/profile_images/823560365141327872/hrUZF-vD_400x400.jpg" alt="Trump the hump" class="contact-img">
        </div>
        <span class="name"><b>Donald Trump</b></span><br>
        <span class="desc">CEO of United States Of America</span><br>
        <span>Mail: president@usa.com</span><br>
        <span style="margin-top: -10px">Phone: 666 - MEXICO</span>
      </div>
    </div>
  </div>

  <agm-map [latitude]="59.368792" [longitude]="10.442151" [zoom]="17">
    <agm-marker [latitude]="59.368792" [longitude]="10.442151"></agm-marker>
  </agm-map>
</div>


