<div class="container" fxLayoutAlign="center start" fxLayout="column">
  <div class="main-content" fxLayoutAlign="center center">

    <div class="logo">
      <img src="../../assets/bits_logo.svg" class="logo-img">
    </div>

    <div class="bits" fxLayoutAlign="center center">
      <h1>BITS - Bakkenteigen IT  studenter</h1>
    </div>
  </div>

  <div class="secondary-content" fxLayout="row">
    <div class="sponsors" fxFlex="1 1 100%">

    </div>
    <div class="facebook-container" fxFlex="1 1 100%">
      <fb-page
        href="https://www.facebook.com/itstudenter"
        [height]="500"
        [width]="300"
        [smallHeader]="true"
        tabs="timeline">
      </fb-page>
    </div>
  </div>

</div>
