<div class="container" fxLayoutAlign="center center" fxLayout="column">
  <div class="main-content" fxLayoutAlign="center center">

    <div class="logo">
      <img src="../../assets/bits_logo.svg" class="logo-img">
    </div>

    <div class="bits" fxLayoutAlign="center center">
      <h1>BITS - Bakkenteigen IT  studenter</h1>
    </div>
  </div>

  <div class="secondary-content" fxLayout="row" fxLayoutAlign="center center">
    <div class="sponsors" fxLayout="column" fxLayoutAlign="start center">

      <div class="sponsor-header"><h1>Våre stolte sponsorer!</h1></div>
      <div class="sponsor-logos"  fxLayoutAlign="center center" fxLayoutWrap>
        <div *ngFor="let sponsor of sponsorImgs" class="sponsor" fxLayoutAlign="center center">

          <img src="{{sponsor.imgSrc}}" alt="{{sponsor.name}}">

        </div>
      </div>
    </div>
    <div class="facebook-container" fxFlex="3 3 100%">
      <fb-page
        href="https://www.facebook.com/itstudenter"
        [height]="500"
        [width]="300"
        [smallHeader]="true"
        tabs="timeline">
      </fb-page>
    </div>
  </div>

</div>
