<div class="container" fxLayoutAlign="center center" fxLayout="column">

  <div class="main-content" fxLayoutAlign="center center" #mainContent >
    <div class="button-container" fxLayout="column" fxLayoutAlign="space-between center" style="min-height: 300px;" >
      <div class="logo">
        <img src="../../assets/bits_logo.svg" class="logo-img">
      </div>
      <div class="bits" fxLayoutAlign="center center">
        <h1 style="text-align: center">BITS - Bakkenteigen IT  studenter</h1>
      </div>
    </div>
  </div>

  <app-facebook-page></app-facebook-page>

  <app-sponsor-page></app-sponsor-page>

</div>
