.logo {
  margin: 0 10px;
  font-size: 25px;
}

.logo:hover {
  cursor: pointer;
  color: #dddddd
}

.link {
  margin: 0 10px;
  font-size: 15px;

}

.link:hover {
  cursor:pointer;
  color: #dddddd
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 100%;

}
