<div fxLayoutAlign="center center" fxLayout="column" class="container">

  <form class="form" [formGroup]="registerForm">
    <h1>BLI MEDLEM</h1>
    <div class="input-container" fxLayoutAlign="center center" fxLayout="column">
      <label class="label" for="firstname">Fornavn</label>
      <input class="input" id="firstname" placeholder="fornavn" formControlName="firstName">
    </div>

    <div class="input-container" fxLayoutAlign="center center" fxLayout="column">
      <label class="label" for="lastname">Etternavn</label>
      <input class="input" id="lastname" placeholder="etternavn" formControlName="lastName">
    </div>

    <div class="input-container" fxLayoutAlign="center center" fxLayout="column">
      <label class="label" for="email">Epost</label>
      <input class="input" id="email" type="email" placeholder="epost" formControlName="email">
    </div>

    <div class="input-container" fxLayoutAlign="center center" fxLayout="column">
      <label class="label" for="phone-number">Nummer</label>
      <input class="input" id="phone-number" type="number" placeholder="Mobil nummer" formControlName="number">
    </div>

    <div fxLayoutAlign="center center">
      <button class="submit-btn">REGISTRER</button>
    </div>
  </form>

  DATA: {{registerForm.value | json}}
</div>

